/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 août 2015, 14:02:23
    Author     : Nicolas Boccard
*/

body
{
    width: 100%;
    height: 100%;
    background-color: beige;
}

label
{
    display: block;
    float: left;
    width: 150px;
    margin: auto;
}

textarea
{
    width: 167px;
    height: 100px;
    resize: none;
}

input
{
    border: solid 1px gray;
    background-color: lightblue;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

#formulaire
{
    width: 400px;
    height: 100%;
    margin: auto;
}

#tableau_profil_general
{
    border: solid 1px black;
    margin: auto;
}

#tableau_profil_detail
{
    border: solid 1px black;
    margin: auto;
}

a
{
    border: solid 1px gray;
    background-color: lightblue;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

#a
{
    border: solid 1px gray;
    background-color: lightblue;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}